@font-face{
    font-family: 'Alice';
    font-display: swap;
    src: url('../font/AliceInWonderland.ttf') format("truetype");
}
h1 {
    font-family: 'Alice';
    font-size: 30px;
}

.site-name {
    font-family: 'Alice';
}